<a href="{{ link }}" target="_blank">
    {% image
    '@SlimpayBundle/Resources/public/images/slimpay-logo.png'
    %}
    <img src="{{ asset_url }}" alt="Slimpay" style="{{ style }}" />
    {% endimage %}
</a>